@mixin xxstyled-elements{

    // Heading
    h1:not(.inert), h2:not(.inert), h3:not(.inert), h4:not(.inert), h5:not(.inert), h6:not(.inert){
        color: var(--headlineColor);
        font-family:var(--foregroundHeadlineFont);
    }

    // Dropcap
    p.has-drop-cap{
        
        &:not(.inert):not(:focus)::first-letter{
            color: var(--dropcapColor);
        }

       
    }

    *::selection {
        color: var(--selectionFGColor);
        background-color: var(--selectionBGColor);
    }

    p, h1, h2, h3, h4, h5, h6{
        &.has-key-gradient{
            background-image: var(--keyGradient);

            &:not(&::selection){
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }
    
            /*
            &::selection {
				color: var(--selectionFGColor);
				background-color: var(--selectionBGColor);
			}
            */
        }
    }

    h1, h2, h3, h4, h5, h6{
        color: var(--headlineColor);
    }
    // Link
    a:not(.inert){
        color: var(--linkColor);
    }

    blockquote:not(.inert){
        color: var(--blockquoteColor);
        border-color:var(--blockquoteColor);
    };

    // Caption	
    figure:not(.inert){
        figcaption{
            font-family:var(--foregroundCaptionFont);
            color: var(--captionColor);
        }
    }

    // Lineart
    hr.wp-block-separator:not(.inert){
        background-color:var(--lineartColor);
        border-color:var(--lineartColor);

        &.has-style-gradient{
            outline:solid 20px red;
        }
    }

}