
/* xx-styled is used in the frontend and backend, it is isolated here to prevent duplication */
@mixin xxstyled-innards{
  	box-sizing: border-box;
  	position:relative;
	margin:0px auto;
	// Foreground, Background, Padding
	font-family:var(--foregroundCopyFont);
	color: var(--foregroundColor);
	background:  var(--backgroundImage);
	background-color: var(--backgroundColor);
	background-position: var(--backgroundPosition);
	background-attachment: var(--backgroundAttachment);
	background-repeat: var(--backgroundRepeat);
	background-size: var(--backgroundSizeSm);
	padding: var(--spacingMobile, .01px);

	// Modifier: Block
	&.xx-styled--block{
		max-width:var(--contentWidth);
	}

	// Modifier: HTML
	&.xx-styled--html{
		min-height:100%;
	}

	// Medium Screens
	@media(min-width: 992px){ 
		background-size: var(--backgroundSizeMd);
		padding: var(--spacingTablet, var(--spacingMobile)); 
	}

	// Large Screens 
	@media(min-width:1200px){ 
		background-size: var(--backgroundSize);
		padding: var(--spacingDesktop, var(--spacingTablet, var(--spacingMobile))); 
	}

	// Box Sizing
	*{  box-sizing: border-box; }

	// Modifier: Align Full
	&.alignfull{ max-width:none; }

	// Modifier: Align Wide
	&.alignwide{ max-width:var(--wideWidth); }

	// Selection
	*::selection {
		color: var(--selectionFGColor);
		background-color: var(--selectionBGColor);
	}

	// h1, h2, h3, h4, h5, h6 (without .inert class)
	h1, h2, h3, h4, h5, h6{
		&:not(.inert){
			color: var(--headlineColor);
			font-family:var(--foregroundHeadlineFont);
		}
	}

	figure figcaption{
		color: var(--captionColor);
		font-family: var(--foregroundCaptionFont);
	}
}

// Modifier: style is "gradient"
p.is-style-gradient{
	background: var(--keyGradient);
}

h1, h2, h3, h4, h5, h6{
	&.is-style-gradient{
		background-color: #f3ec78;
		background-image: var(--keyGradient);;
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;

		*::selection {
			color: var(--selectionFGColor);
			background-color: var(--selectionBGColor);
		}
	}
}