
.styled-preview{
  background-image: url("../../library/img/transparent.webp");
  background-position: center;;
  width: 100%;
  width:260px;
  margin-left:10px;
  height: 180px;
  z-index: 1;
  // border:solid 4px green;
  outline:solid 1px grey;
  border-radius:5px 5px 0 0;
  overflow: hidden;
  *{transition:.15s all;}

  // While Viewing the Exploded View
  &[data-viewtype="stack"]{
      perspective: 5000px;
    &:hover, &:focus, &:active{
      .cube{
         transform: translateY(30px);  
         animation-play-state: running;
      }
    }
  }

  // Restack the Layer Order in the Visualization
  &.styled-preview--gradientfirst{
    .layer-3{transform: translateZ(-50px);}
    .layer-4{transform: translateZ(-15px);}
  }
}



// Stack
.styled-preview[data-viewtype="stack"]{
  border-color:transparent;
  perspective: 600px;
  .cube {
    animation-name: boxshift;
  }
}

// Topdown
.styled-preview[data-viewtype="topdown"]{
  .cube{ transform: translateY(30px);  }
}

.cube {
  width: 100px;
  height:100px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotateY(30deg) translateY(40px);
  
  animation-play-state: paused;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.layer {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dashed rgba(100,100,100,1);
  line-height: 2em;
  transition: .25s ease transform;

  label{
    position:absolute;
    left:-65px;
    width:60px;
    top:0;
    color:black;
    font-size:10px;
    text-align: right;
    transition: all .25s ease;

    &.nudged{
      opacity:0;
      transform:translate(10px, 0);
      transition: none;
    }
  }
}

.layer-1{
  transform: translateZ(50px);
  // label{transform: translateY(80px);}
}
.layer-2{
  transform: translateZ(15px);
  // label{transform: translateY(60px);}
}
.layer-3{
  transform: translateZ(-15px);
  // label{transform: translateY(40px);}
}
.layer-4{
  transform: translateZ(-50px);
  // label{transform: translateY(20px);}
}
.layer-5{
  transform: translateZ(-85px);
  // label{transform: translateY(0px);}
}

.fgtext {}
.fgcolor {}
.bgimage {}
.bgcolor {}


// , .flattened
.textual{
  text-align: center;
  font-size:.65em;
  line-height:1.2;
  background:none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{font-size:1.5em;margin:0;}
  p{margin:0;font-size:1em;}
}

.fgtext{
  
}

.fgcolor{
  background-image: linear-gradient(92deg, rgba(142,37,37,0.43) -1%, rgba(134,17,17,1) 100%);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.bgimage{
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.bgcolor{
  background-color: #946746;
}

.flattened{
  width:100px;
  height:100px;
  background-image: linear-gradient(92deg, rgba(142,37,37,0.43) -1%, rgba(134,17,17,1) 100%), url(https://assets.codepen.io/81793/rabbit.jpg);
  background-color: #946746;
  background-size: cover, cover;
  background-position: center center;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat, no-repeat;
}

@keyframes boxshift {
  // Bottom Right
  0%   {transform: rotateX(-25deg) rotateY(30deg) translateY(40px);}
  // Bottom Left
  25%   {transform: rotateX(-25deg) rotateY(-30deg) translateY(40px);}
  // Top Left
  50%  {transform: rotateX(25deg) rotateY(-30deg) translateY(40px);}
  // Top Right
  75%   {transform: rotateX(25deg) rotateY(30deg) translateY(40px);}
  // Bottom Right
  100% {transform: rotateX(-25deg) rotateY(30deg) translateY(40px);}
}


.box-legend{
  background: #e0e0e0;
  margin: -12px 10px 25px;
  width: calc(100% - 20px);
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  outline: 1px solid gray;
  // outline-width: 0 1px 0 1px;
}