// Simple Rows are the simplest way to add a row to the sidebar
.px-triptych {
	display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
	
    > div{
        width:33%;
        padding:3px;
    }
}
