/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import "../assets/lib/_common.scss";
 // @import "../assets/lib/scss/styled-preview.scss";
 @import "style.scss";


// When editing Styled Areas posttypes, hide the mode which allows disable/reuse
// In this context only Original/Inline styles are relevant
body.post-type-style{
	#styledarea-toggle{
		display:none;
	}
	.panel-dimensions, .panel-typography{
		// display:none;
	}

} 
/*
// Editor Style
.xx-styled{
	background-color: var(--backgroundColor0);
	color: var(--foregroundColor);
	padding: 2px;
	max-width: none;
}
button{
	display:editor;
}*/

.wp-block-create-block-xx-styled {
	border: 1px dotted #f00;
}

.edit-post-visual-editor__post-title-wrapper{
	background:white;
	padding:20px;
	margin:0;
	h1.wp-block-post-title{
		color:black !important;
		font-family:sans-serif;
	}
}