// Editor Styles
 @import "library/common/_px-variables.scss"; 
 @import "library/common/_common.scss";
 @import "library/scss/_xx-styled-mixin.scss"; 
 @import "library/scss/_xx-styled-mixin-elements.scss"; 

// Add xx-styled specifically for the admin editor
.xx-styled--admin{
	.wp-block-post-content.block-editor-block-list__layout{
		@include xxstyled-innards;
		@include xxstyled-elements;
	}
}

// When editing 'styled' posttypes, Hide the toggle which allows disable/named/custom
body.post-type-styled{
	#styledarea-toggle{ display:none; }
}


// Inside the editor, make the inner blocks not clickable 
// so the outer styled block will always gains focus
.wp-admin.post-type-styled{
	.block-editor-block-list__layout > *:not(.xx-styled) {
		pointer-events: none !important;
	}
	.block-editor-block-popover{
		display:none;
	}
} 

// Appender style
.xx-styled--block .block-list-appender button{
	background:white;
	// background:pink;
}