/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import "library/common/_common.scss";

 // @import "../assets/lib/scss/styled-preview.scss";
 @import "style.scss";


// When editing Styled Areas posttypes, hide the mode which allows disable/reuse
// In this context only Original/Inline styles are relevant
body.post-type-styled{
	#styledarea-toggle{
		display:none;
	}
	.panel-dimensions, .panel-typography{
		// display:none;
	}

} 

.edit-post-visual-editor__post-title-wrapper{
	background:white;
	padding:20px;
	margin:0;
	h1.wp-block-post-title{
		color:black !important;
		font-family:sans-serif;
	}
}

